@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthentcationLayout.cshtml";
}

<h1>ResetPassword</h1>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Token" />

    <div asp-validation-summary="All"></div>

    <input type="password" asp-for="Password" placeholder="Password" class="form-control" />
    <span asp-validation-for="Password"></span>
    <br />

    <input type="password" asp-for="ConfirmPassowrd" placeholder="Confirm Password" class="form-control" />
    <span asp-validation-for="ConfirmPassowrd"></span>

    <input type="submit" value="Change Password" class="btn btn-primary" />
</form>
