
@model Employee
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<h1>Create New Employee</h1>
<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control" />
           <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Age"></label>
        <input type="text" asp-for="Age" class="form-control" />
          <span asp-validation-for="Age" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
        <input type="text" asp-for="Address" class="form-control" />
          <span asp-validation-for="Address" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
        <input type="text" asp-for="Salary" class="form-control" />
          <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label class="col-form-label" asp-for="PhoneNumber"></label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
          <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

            <div class="form-group">
        <label class="col-form-label" asp-for="ImageUrl"></label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
          <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

                <div class="form-group">
        <label class="col-form-label" asp-for="HiringDate"></label>
        <input type="Date" asp-for="HiringDate" class="form-control" />
          <span asp-validation-for="HiringDate" class="text-danger"></span>
    </div>
        <div class="form-group">
        <label asp-for="DepartmentId" class="control-label">Department</label>
        <select asp-for="DepartmentId" class="form-control">
            <option value="">-- Select Department --</option>
            @foreach (var department in ViewBag.Department)
            {
                    <option value="@department.Id">@department.Name</option>
            }
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
